<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <modules runAllManagedModulesForAllRequests="false" />
      <staticContent>
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
         <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="ignore robots.txt" stopProcessing="true">
               <match url="^robots.txt" />
               <action type="None" />
            </rule>
            <rule name="SPA" stopProcessing="true">
               <match url="^(?!.*(.js|.webmanifest|.css|.ttf|.png|.jpg|.ico|.svg)).*$" />
               <conditions logicalGrouping="MatchAll" />
               <action type="Rewrite" url="/" appendQueryString="true" />
            </rule>
         </rules>
      </rewrite>
      <httpProtocol>
      </httpProtocol>
   </system.webServer>

</configuration>
