$border-radius: 0.35rem;
$dark-theme: false;
$primary: #24802e;
$secondary: #24802e;
$info: #0d95f0;
$success: #198754;
$warning: #ffc107;
$error: #dc3545;
$body-text: #212529;
$body-bg: #ffffff;
$headings-text: #212529;
$subtle-text: #6c757d;
$disabled-text: #8f8f8f;
$component-text: #212529;
$component-bg: #ffffff;
$base-text: #212529;
$base-bg: #f8f9fa;
$hovered-text: #16181b;
$hovered-bg: #e9ecef;
$selected-text: #ffffff;
$selected-bg: #379113;
$kendo-button-text: #212529;
$kendo-button-bg: #e4e7eb;
$link-text: #2f800f;
$link-hover-text: #54690d;
$series-a: #0d6efd;
$series-b: #c1bb42;
$series-c: #20c997;
$series-d: #198754;
$series-e: #ffc107;
$series-f: #dc3545;
$window-titlebar-bg: #24802e;

//custom variables
$card-box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
  0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
  0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
  0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);

$primary-light: #24802f49;
$primary-light-hovered: #24802f85;
