<div class="change-password-page">
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">
        {{ "Pages.ChangePassword.Title" | translate }}
      </legend>

      <div class="">
        <p>
          {{ "Pages.ChangePassword.IntroText" | translate }}
        </p>
      </div>

      <kendo-formfield>
        <kendo-label [for]="oldPassword"
          >{{ "Pages.ChangePassword.OldPassword" | translate }}
        </kendo-label>
        <kendo-textbox
          type="password"
          #oldPassword
          formControlName="oldPassword"
          required="true"
        ></kendo-textbox>

        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            icon="eye"
            (click)="toggleVisibility('oldPassword')"
          ></button>
        </ng-template>
        <kendo-formerror>
          {{
            "Pages.ChangePassword.Errors.OldPassword" | translate
          }}</kendo-formerror
        >
      </kendo-formfield>
      <div class="choose-your-password">
        {{ "Pages.ChangePassword.ChooseYourNewPassword" | translate }}
      </div>
      <kendo-formfield>
        <kendo-label [for]="password"
          >{{ "Pages.ChangePassword.Password" | translate }}
        </kendo-label>
        <kendo-textbox
          type="password"
          #password
          formControlName="password"
          required="true"
        ></kendo-textbox>

        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            icon="eye"
            (click)="toggleVisibility('password')"
          ></button>
        </ng-template>
        <kendo-formerror>
          {{
            "Pages.ChangePassword.Errors.Password" | translate
          }}</kendo-formerror
        >
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label [for]="passwordRepeat"
          >{{ "Pages.ChangePassword.PasswordRepeat" | translate }}
        </kendo-label>
        <kendo-textbox
          type="passwordRepeat"
          #passwordRepeat
          formControlName="passwordRepeat"
          required="true"
        ></kendo-textbox>

        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            icon="eye"
            (click)="toggleVisibility('passwordRepeat')"
          ></button>
        </ng-template>
        <kendo-formerror>
          {{
            "Pages.ChangePassword.Errors.PasswordRepeat" | translate
          }}</kendo-formerror
        >
      </kendo-formfield>

      <div class="k-form-buttons">
        <button
          class="w-100"
          kendoButton
          themeColor="primary"
          type="submit"
          [disabled]="form.invalid || loading.action"
        >
          {{ "Pages.ChangePassword.Actions.ChangePassword" | translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
