<div class="forgot-password-page">
  <form [formGroup]="form" (ngSubmit)="requestPassword()">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">
        {{ "Pages.ForgotPassword.Title" | translate }}
      </legend>

      <kendo-formfield>
        <kendo-label [for]="email"
          >{{ "Pages.ForgotPassword.Email" | translate }}
        </kendo-label>
        <kendo-textbox
          type="email"
          #email
          formControlName="email"
          required="true"
        ></kendo-textbox>
        <kendo-formerror>
          {{ "Pages.ForgotPassword.Errors.Email" | translate }}</kendo-formerror
        >
      </kendo-formfield>

      <div class="k-form-buttons">
        <button
          class="w-100"
          kendoButton
          themeColor="primary"
          type="submit"
          [disabled]="form.invalid || loading.action"
        >
          {{ "Pages.ForgotPassword.Actions.ForgotPassword" | translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
