<div class="set-password-page">
  <form [formGroup]="form" (ngSubmit)="setPassword()">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">
        <ng-container *ngIf="isWelcome">{{
          "Pages.Welcome.Title" | translate
        }}</ng-container>
        <ng-container *ngIf="!isWelcome">{{
          "Pages.SetPassword.Title" | translate
        }}</ng-container>
      </legend>

      <div class="">
        <p *ngIf="isWelcome">
          {{ "Pages.Welcome.IntroText" | translate: { email: email } }}
        </p>
        <p *ngIf="!isWelcome">
          {{ "Pages.SetPassword.IntroText" | translate: { email: email } }}
        </p>
      </div>

      <kendo-formfield>
        <kendo-label [for]="password"
          >{{ "Pages.SetPassword.Password" | translate }}
        </kendo-label>
        <kendo-textbox
          type="password"
          #password
          formControlName="password"
          required="true"
        ></kendo-textbox>

        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            icon="eye"
            (click)="toggleVisibility('password')"
          ></button>
        </ng-template>
        <kendo-formerror>
          {{ "Pages.SetPassword.Errors.Password" | translate }}</kendo-formerror
        >
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label [for]="passwordRepeat"
          >{{ "Pages.SetPassword.PasswordRepeat" | translate }}
        </kendo-label>
        <kendo-textbox
          type="passwordRepeat"
          #passwordRepeat
          formControlName="passwordRepeat"
          required="true"
        ></kendo-textbox>

        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            icon="eye"
            (click)="toggleVisibility('passwordRepeat')"
          ></button>
        </ng-template>
        <kendo-formerror>
          {{
            "Pages.SetPassword.Errors.PasswordRepeat" | translate
          }}</kendo-formerror
        >
      </kendo-formfield>

      <div class="k-form-buttons">
        <button
          class="w-100"
          kendoButton
          themeColor="primary"
          type="submit"
          [disabled]="form.invalid || loading.action"
        >
          <ng-container *ngIf="isWelcome">{{
            "Pages.Welcome.Actions.ActivateAccount" | translate
          }}</ng-container>
          <ng-container *ngIf="!isWelcome">{{
            "Pages.SetPassword.Actions.SetPassword" | translate
          }}</ng-container>
        </button>
      </div>
    </fieldset>
  </form>
</div>
